version: '3.8'

services:
  web:
    build: ..
    container_name: helpme-django
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ../qdrant_storage:/qdrant/storage
